.App {
  font-family: "Helvetica";
  text-align: left;
  font-size: 14px;
}
h3 {
  text-align: center;
  font-weight: lighter;
  font-size: 20px;
}
img {
  max-width: 100%;
  height: 200px;
}
/*
added in cursor pointers to the recipe buttons
*/
.recipeButton {
  display: relative;
  position: relative;
  border-radius: 20px;
  background: #ffffff;
  border: #ffffff;
  cursor: pointer;
  padding-bottom: 30px;
  width: 100%;
}
.singleRecipeButton {
  display: relative;
  position: relative;
  border-radius: 20px;
  background: #ffffff;
  border: #ffffff;
  cursor: pointer;
  padding-bottom: 30px;
  width: 90%;
}
/*
added in a hover tranform to expand the image out slightly when hovered
*/
.recipeButton:hover {
  transform: scale(1.1);
  transition: transform 150ms ease-in-out;
}
.favouriteButton {
  position: absolute;
  top: 20px;
  right: 20px;
  height: 40px;
  width: 35px;
  border-radius: 15px;
  border: #ffffff;
  background-color: white;
  cursor: pointer;
}
.favouriteButton:hover {
  background-color: #c96059;
}
.favImage {
  object-fit: cover;
  height: 20px;
  width: 20px;
}

.imageButton {
  border-radius: 18px;
  width: 100%;
  height: 180px;
  object-fit: cover;
}
.steps {
  list-style-type: decimal;
  text-align: justify;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
}
.ingredients {
  text-align: justify;

}
.ingredientListItem {
  padding-bottom: 5px;
}
.title {
  color: white;
  top: 90px;
  left: 10px;
  font-size: 20px;
  padding-bottom: 10px;
  background: rgba(0, 0, 0, 0.35);
  border: #ffffff;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
}
.gfg {
  position: absolute;
  bottom: 0;
  padding-bottom: 15px;
  width: 96%;
}
.recipeCard {
  width: 40%;
}
.recipeTable {
  border: 0px solid black;
  margin-left: auto;
  margin-right: auto;
}

select {
  border: 0px;
  outline: 0px;
}

input {
  margin-left: auto;
  margin-right: auto;
  margin-top: 5px;
  width: 260px;
  border: 2px solid #55c243;
  border-radius: 10px;
  display: block;
  padding: 9px 4px 9px 40px;
  background: transparent
    url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' class='bi bi-search' viewBox='0 0 16 16'%3E%3Cpath d='M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z'%3E%3C/path%3E%3C/svg%3E")
    no-repeat 13px center;
}

.SearchResults {
  margin-top: 5px;
  width: 300px;
  height: auto;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  overflow: hidden;
  overflow-y: auto;
}

.SearchResults b {
  margin-left: 10px;
}

b {
  text-decoration: none;
}

b:hover {
  background-color: lightgrey;
  cursor: pointer;
}
/*
added padding on most of the classes but especially here so the image hover doesn't cover the sortby
*/
.sortTable {
  margin-left: auto;
  margin-right: auto;
  border: 0px solid black;
  padding-bottom: 20px;
}
.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgb(221, 221, 221);
  height: 90px;
  width: 100%;
}
.hbtn-svg {
  border: none !important;
  background-color: transparent !important;
  outline: none;
  border-radius: 50%;
}
.fbtn-svg {
  border: none !important;
  background-color: transparent !important;
  outline: none;
  border-radius: 50%;
}
.footer-content {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 40px auto;
}
svg {
  width: 30px;
  height: 30px;
}
svg:hover {
  border-radius: 200px;
  background-color: rgb(187, 214, 183);
  cursor: pointer;
  stroke: black;
}
.clear {
  clear: both;
  height: 90px;
}
/*
styling for the page to order and space into columns
*/
.columns {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  text-align: center;
}
.singleRecipe {
  width: 100%;
}
.ingredientsTitle {
  padding-left: 10px;
  text-align-last: justify;
}
